.main-nav {
    top: 12px;
    position: relative;
}
@media only screen and #{$palm} {
    .main-nav {
        top: 10px;
    }
}
.main-nav__items {
    margin: 0;
}
.main-nav--right {
    float: right
}
.main-nav--left {
    float: left
}
.main-nav__item {
    margin-right: 5px;
    float: left;
}
.main-nav__link {
    display: block;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 3px;
    font: inherit;
    -webkit-transition: .13s;
    white-space: nowrap;
    padding: 5px 10px;
}
.main-nav--right .main-nav__item:last-child {
    margin-right: 0;
}

.main-nav__link--active, .main-nav__link:hover, .main-nav__link:focus {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}
.main-nav__link:active {
    background: rgba(255, 255, 255, 0.4);
}
.main-nav__toggle {
    display: none;
    float: left;
    top: 10px;
    position: relative;
}
@media only screen and #{$palm} {
    .main-nav__toggle {
        display: inline-block;
    }
    .main-nav--togglable {
        background: rgba(#fff, 0.95);
        padding: 20px 0 60px 0;
        overflow-y: auto;
        width: 250px;
        position: fixed;
        top: 50px;
        left: -300px;
        bottom: 0;
        transition: 0.2s;
        box-shadow: 0 0 20px 10px rgba(0, 0, 20, 0.04);
    }
    .main-nav--togglable.nav-togglable--is-active {
        left: 0;
    }
    .main-nav--togglable .main-nav__item {
        float: none;
        margin: 0;
    }
    .main-nav--togglable .main-nav__link:not(.main-nav__toggle) {
        display: block;
        padding: 12px 15px;
        color: $bodyColour;
    }
    .main-nav--togglable .main-nav__link:not(.main-nav__toggle):hover {
        background: darken($bodyBackground, 2%);
    }
} 

.nav-togglable {
    background: rgba(#fff, 0.90);
    padding: 20px 0 60px 0;
    overflow-y: auto;
    width: 250px;
    position: fixed;
    top: 60px;
    left: -300px;
    bottom: 0;
    transition: 0.2s;
    box-shadow: 0 0 20px 10px rgba(0, 0, 20, 0.04);
}
@media only screen and #{$palm} {
    .nav-togglable {
        top: 50px;
    }
} 
.nav-togglable--is-active {
    left: 0;
}
.nav-togglable__items {
    margin: 0;
    padding: 0;
}
.nav-togglable-trigger--is-active {
    background: lighten($brandColour, 6%);
}
.nav-togglable__link {
    display: block;
    letter-spacing: 1px;
    padding: 12px 15px;
    color: $bodyColour;
}
.nav-togglable__link:hover {
    background: darken($bodyBackground, 2%);
}
