.button {
    width: auto;
    padding: 8px 20px;
    background: none;
    letter-spacing: 1px;
    color: $brandColour;
    border-radius: 3px;
    line-height: 1;
    cursor: pointer;
    border: 1px solid $brandColour;
    font: inherit; 
    transition: 0.13s;
    white-space: nowrap;
    display: inline-block;
}
.button:hover, .button:focus, .button--solid {
    color: #fff;
    background: lighten($brandColour, 3%);
}
.button:active {
    background: darken($brandColour, 10%);
}
.button--smaller {
    padding: 3px 7px;
    font-size: 0.8em;
}
.button--secondary, 
.button--secondary:hover,
.button:active {
    background: #fff;
    color: lighten($bodyColour, 15%);
    border: 1px solid #eee;
}
.button--disabled, .button--disabled:hover, .button--disabled:focus {
    background: none;
    cursor: default;
    color: #aaa;
    border-color: #ddd;
}
.button--white {
    color: #fff;
    border-color: #fff;
}
.button--white:hover, .button--white:focus {
    background: rgba(255, 255, 255, 0.2);
}
.button--white:active {
    background: rgba(255, 255, 255, 0.4);
}

.button-bar__button {
    float: left;
    margin: 0;
}
.button-bar__button .button {
    display: block
}
.button-bar--left {
    float: left;
}
.button-bar--right {
    float: right;
}
.button-bar--left .button-bar__button {
    margin-right: 12px;
}
.button-bar--right .button-bar__button {
    margin-left: 12px;
}
.button-bar--left .button-bar__button:last-child {
    margin-right: 0;
}
.button-bar--right .button-bar__button:first-child {
    margin-left: 0;
}
@media only screen and #{$palm} {
    .button-bar--left .button-bar__button {
        margin-right: 8px;
    }
    .button-bar--right .button-bar__button {
        margin-left: 8px;
    }
}