.contentinfo {
    background: #fff;
}
.contentinfo .wrapper {
    padding: 50px $mainGutterPercentage 80px;
}
.nav-footer__items {
    text-align: center;
}
.nav-footer__item {
    display: inline-block;
	margin-right: 7px;
    padding-right: 10px;
    border-right: 1px solid #ddd;
}
.nav-footer__link {
    color: $secondaryLinkColour;
}
.nav-footer__item:last-child {
    margin: 0;
    padding: 0; 
    border: 0;
}

@media only screen and #{$lap} {
    .contentinfo .wrapper {
        padding: 30px 20px 40px;
    }
}
@media only screen and #{$palm} {
    .nav-footer__item {
        display: block;
        border: 0;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #ddd
    }
    .nav-footer__link {
        padding: 10px 0;
        display: block
    }
}