.main--homepage {
    padding: 0;
    max-width: 100%
}

.homepage__banner {
    background: $bodyBackground url(../images/collage.jpg) no-repeat top center;
    background: lighten($brandColour, 4%);
    background-size: 100%;
    padding: 0 $mainGutterPercentage 0;
    position: relative;
}
.homepage__header {
    padding-top: 80px;
    text-align: center;
    font-size: 3em;
    color: #fff;
    margin-bottom: 20px;
    line-height: 1.3;
    letter-spacing: 2px;
    font-weight: bold;
}
.homepage__screenshot {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
}
@media only screen and #{$lap} {
    .homepage__banner {
        padding: 0 $mainGutterPercentage 0;
    }
    .homepage__header {
        padding-top: 100px;
    }
}
.homepage__strap {
    text-align: center;
    margin: 0 auto 80px auto;
    color: #fff;
    max-width: 488px;
    font-size: 1.8em;
    letter-spacing: 1px;
}
@media only screen and #{$palm} {
    .homepage__banner {
        background-size: 250%
    }
    .homepage__header {
        font-size: 2.1em;
        text-align: left;
    }
    .homepage__strap {
        font-size: 1.4em;
        text-align: left
    }
    .homepage__screenshot {
        display: none
    }
}
.homepage__live-bookmarks {
    padding: 50px $mainGutterPercentage;
    max-width: 1600px;
    margin: 0 auto;
}
.homepage__live-bookmarks-header {
    margin-bottom: 45px;
    text-align: center;
    font-size: 1.7em
}
.homepage__live-bookmarks-link {
    float: right;
}
.homepage__details {
    background: $bodyBackground;
    padding: 100px $mainGutterPercentage; 
    font-size: 1.2em;
    max-width: 1200px;
    margin: 0 auto;
}
@media only screen and #{$lap} {
    .homepage__details {
        text-align: left;
        padding: 40px $mainGutterPercentage;
    }
}
.homepage__interested {
    margin: 0 auto;
    color: #fff;
    padding: 100px 33%;
    background: #f8f8f8;
    @include sgradient(
        $from: left,
        $colors: (
            (#E47D7D, 0%),
            (#C195D3, 50%),
            (#4FB4E8, 100%)
        )
    );
}
@media only screen and #{$lap} {
    .homepage__interested {
        padding: 70px 22%;
    }
}
@media only screen and #{$palm} {
    .homepage__interested {
        padding: 50px $mainGutterPercentage;
    }
}
.homepage__interested-text {
    font-size: 1.2em;
    margin-bottom: 5px;
}
.homepage__small {
    font-size: 0.9em;
}
.homepage__spam {
    padding-top: 10px;
}

.homepage .message {
    margin: 30px 0 0 0;
    text-align: center;
    color: #fff !important;
    border: 1px dashed #fff !important;
}