.pagination {
    margin-bottom: 20px;
    text-align: center;
}
.pagination-links {
    margin-bottom: 0
}
.js .pagination-links,
.pagination-load-trigger {
    display: none;
}
.pagination__link {
    display: block; 
}
.pagination-links__item {
    display: inline-block;
    margin-left: 10px;
}
.pagination__meta {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 10px;
}
.pagination-links--sort-by .pagination-links__item:last-child {
    margin-right: 10px;
}
.pagination-links--sort-by .pagination__meta {
    margin-left: 0;
}

.js .pagination-load-trigger {
    display: inline-block;
}