.payment-plans {
    margin: 0;
    padding: 0;
}
.payment-plans__plan {
    margin-bottom: 30px;
    box-shadow: 0 0 0 5px rgba(0,0,0,.03)
}
.payment-plans__headline {
    background: #fff;
    padding: 30px 30px 20px 30px;
    text-align: center;
}
.payment-plans__name {
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 1.2em
}
.payment-plans__price {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 0;
}
.payment-plans__interval {
    font-size: 0.3em;
    font-weight: normal
}
.payment-plans__description {
    font-size: 1.2em;
    text-align: center;
}
.payment-plans__submit, .payment-plans__description {
    margin: 0;
}
.payment-plans__details {
    background: #eee;
}
.payment-plans__description, .payment-plans__submit {
    padding: 30px;   
}
.payment-plans__features {
    margin: 0;
    padding-bottom: 30px;
}
.payment-plans__feature {
    padding: 0 30px 10px 30px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.payment-plans__feature:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0;
}
.payment-plans__submit {
    padding-top: 0;
    text-align: center
}
.payment-plans__current {
    padding: 0 40px 30px;
    text-align: center;
}