.global-search {
    float: right;
    width: 53%;
    position: relative;
}
@media only screen and #{$lap} {
    .global-search {
        width: 52%;
    }
}
@media only screen and (max-width: 800px) {
    .global-search {
        width: 40%;
    }
}
@media only screen and #{$palm} {
    .global-search {
        width: 70%;
    }
}
.global-search__input, .global-search__input:focus {
    padding: 5px 15px 5px 50px;
    line-height: 2;
    color: #fff;
    height: 60px;
    @include sgradient(
        $from: left,
        $colors: (
            (lighten($brandColour, 4%), 0%),
            ($brandColour, 100%)
        )
    );
    border: none;
    border-radius: 0;
    transtion: 0.4s;
}
.is-signed-in .global-search:before {
    content: ' ';
    background: $brandColour url(../images/logo-square-120.png) no-repeat center center;
    background-size: 40px 40px;
    border-radius: 0 60px 60px 0;
    position: absolute;
    top: 0;
    left: -30px;
    z-index: 800;
    width: 35px;
    height: 30px;
    padding: 15px;
}
@media only screen and #{$palm} {
    .global-search__input, .global-search__input:focus {
        height: 50px;
        padding-left: 40px;
    }
    .is-signed-in .global-search:before {
        padding: 10px;
    }
}

.global-search ::-webkit-input-placeholder {
    color: lighten($brandColour, 45%);
}
.global-search :-moz-placeholder { 
    color: lighten($brandColour, 45%);
}
.global-search ::-moz-placeholder { 
    color: lighten($brandColour, 45%);
}
.global-search :-ms-input-placeholder {  
    color: lighten($brandColour, 45%);
}