.section-transition {
    overflow: hidden;
}
.section-transition__inner {
    opacity: 1;
    transform: none;
}
.section-transition__inner--byebye {
    position: relative;
    opacity: 0;
    transform: translateX(30%);
    transition: 0.17s ease-out;
}