.socialaccount-providers {
	margin: 0;
	padding: 0;
}
.socialaccount-providers__provider {
	display: inline-block;
	margin: 0 10px 5px 0;
}
.socialaccount-providers__provider:last-child {
	margin-right: 0;
}
.socialaccount-providers__link {
	display: block;
	padding: 5px 10px;
	border-radius: 3px;
	color: #fff;
}
.socialaccount-providers__link:hover {
	color: #fff;
}
.socialaccount-provider__link--twitter {
	background: #00aced;
}
.socialaccount-provider__link--facebook {
	background: #3b5998;
}
.socialaccount-provider__link--google {
	background: #dd4b39;
}