.table {
	border: none;
	width: 100%;
	margin-bottom: 20px;
	border-collapse:collapse;
    text-align: left;
    font-size: 0.9em;
}
.table__tr {

}
.table__tr--odd {

}
.table__tr:last-child {
    border-bottom: 3px solid #ddd;
}
.table__head .table__tr {
    border-bottom: 0;
}
.table__th {
	padding: 15px 20px;
    font-weight: normal;
    display: table-cell;
    vertical-align: middle;
    border-right: 1px solid #ddd;
    border-bottom: 3px solid #ddd;
    border-top: 3px solid #ddd;
}
.table__th:last-child, .table__td:last-child {
    border-right: 0
}
.table__td {
	padding: 15px 20px;
    display: table-cell;
    vertical-align: middle;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.table__th--sorted,
.table__td--sorted {
    background: rgba(0, 0, 0, 0.015);
}
.table__td--align-top {
    vertical-align: top;
}