.tag-list {
    margin: 0 0 20px 0;
    padding: 0;
}
.tag-list__item {
    float: left;
    font-size: 0.9em;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 3px 10px;
    background: #fff;
    border: 1px solid #eee;
}
.tag-list__inner {
    color: $secondaryLinkColour;
}
.tag-list__count {
    font-size: 70%;
    top: -1px;
    color: darken($bodyColour, 20%);
    position: relative;
}
.tag-list__add-tag {
    font-weight: bold;
    margin-left: 6px;
}